#center-div{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#checkbox{
    background-color: transparent;
    font-size: 100px;
}

